<div>
<ul>
  <li>
    <h2><a routerLink="">Login</a></h2>
  </li>
  <li>
      <h2><a routerLink="/registration">Register</a></h2>
    </li>
  <li>
    <h2><a *ngIf="user.isLoggedIn" routerLink="/contacts">Contacts</a></h2>
  </li>
  <li>
    <h2><a *ngIf="user.isLoggedIn" routerLink="/addContact">Add Contact</a></h2>
  </li>
  <li>
    <h2><a *ngIf="user.isLoggedIn" routerLink="">Delete Contact</a></h2>
  </li>
  <li>
    <h2><a *ngIf="user.isLoggedIn" routerLink="/userProfile">User Profile</a></h2>
  </li>
  <li>
    <h2><a *ngIf="user.isLoggedIn" routerLink=""(click)="logout()">Logout</a></h2>
  </li>
  
  <form>
    <label for="search">Search</label>
    <input type="text" name="search" id="search" (input)="contactSearch()" [(ngModel)]="search">
     <div *ngFor="let filter of filter">
       {{filter.name}}
     </div>
    <button>Search</button>
  </form>
</ul>

</div>