<h1>Contacts Page</h1>

<div *ngFor="let contact of contacts" class="contacts">
  <br>
  <div><strong> Name:  </strong> {{contact.first_name}} <span>{{contact.last_name}}</span></div>
  <br>
  <div><strong>Personal Email:  </strong>  {{contact.personal_email}}</div>
  <br>
  <div><strong>Personal Cellphone:  </strong>  {{contact.personal_cellphone_number}}</div>
  <br>
  <div><strong>Home Phone Number:  </strong> {{contact.home_phone_number}}</div>
  <br>
  <div><strong>Home Address:  </strong> {{contact.home_street_address}}</div>
  <br>
  <div><strong>State:  </strong> {{contact.home_state_address}} <span> <strong>Country:  </strong> {{contact.home_country_address}}</span></div>
  <br>
  <div><strong>Company Name:  </strong> {{contact.company_name}}</div>
  <br>
  <div><strong>Work Email:  </strong> {{contact.work_email}}</div>
  <br>
  <div><strong>Work Phone Number:  </strong> {{contact.work_number}} <span> <strong>Ext:  </strong> {{contact.work_number_extension}}</span></div>
  <br>
  <div><strong>Work Cellphone Number:  </strong> {{contact.work_cell_number}}</div>
  <br>
  <div><strong>Work Address:  </strong> {{contact.work_street_address}}</div>
  <br>
  <div><strong>State:  </strong> {{contact.work_state_address}} <span> <strong>Country:  </strong> {{contact.work_country_address}}</span></div>
  <br>
  <div> <strong>Type of Business:  </strong> {{contact.type_of_business_id.type}}</div>
  <br>
  <div><strong>Type of Contact:  </strong> {{contact.type_of_contact_id.type}}</div>
  <br>
  <div><strong>Notes:  </strong> {{contact.notes}}</div>
  <br>
  <br>
</div>