<h3>Registration Page</h3>

<form>
  <label for="first_name">First Name:</label>
<input type="text" name="first_name" id="first_name" [(ngModel)]="regFormData.first_name">
<br>
<br>
<label for="last_name">Last Name:</label>
<input type="text" name="last_name" id="last_name" [(ngModel)]="regFormData.last_name" >
<br>
<br>
<label for="email">Email:</label>
<input type="text" name="email" id="email" [(ngModel)]="regFormData.email">
<br>
<br>
<label for="username">Username</label>
<input type="text" name="username" id="username" [(ngModel)]="regFormData.username">
<br>
<br>
<label for="password">Password</label>
<input type="password" name="password" id="password" [(ngModel)]="regFormData.password">
<br>
<br>
<label for="cellphone_number">Cellphone Number</label>
<input type="text" name="cellphone_number" id="cellphone_number" [(ngModel)]="regFormData.cellphone_number">
<br>
<br>
<label for="home_phone_number">Home Phone Number</label>
<input type="text" name="home_phone_number" id="home_phone_number" [(ngModel)]="regFormData.home_phone_number">
<br>
<br>
<button (click)="submitRegForm()">Submit</button>
</form>