<h1>Add Contact Form</h1>

<form>
<label for="name" >Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="email">Email:</label>
<input type="text" name="email" id="email">
<br>
<label for="address">Address:</label>
<input type="text" name="address" id="address">
<br>
<label for="phoneNumber">Phone Number:</label>
<input type="text" name="phoneNumber" id="phoneNumber">
<br>
<label for="company">Company:</label>
<input type="text" name="company" id="company">
<br>
<button>Submit</button>

</form>